<%- include('../partials/header') %>

<section id="show-page">
  <div>Title: </div>
  <div><%= movie.title %></div>
  <div>Release Year: </div>
  <div><%= movie.releaseYear %></div>
  <div>Rating: </div>
  <div><%= movie.mpaaRating %></div>
  <div>Now Showing: </div>
  <div><%= movie.nowShowing ? 'Yes' : 'Nope' %></div>
  <div>Cast:</div>
  <ul>
    <%- movie.cast.map(p => 
      `<li>${p.name} <small>${p.born.toLocaleDateString()}</small></li>`
    ).join('') %>
  </ul>
</section>

<form id="add-per-to-cast" action="/movies/<%= movie._id%>/performers" method="POST">
  <select name="performerId">
    <%- performers.map(p => `<option value="${p._id}">${p.name}</option>`).join('') %>
  </select>
  <button type="submit">Add to Cast</button>
</form>

<br><br><h2>Reviews</h2>
<form id="add-review-form" method="POST"
  action="/movies/<%= movie._id %>/reviews">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="Add Review">
</form>

<% if (movie.reviews.length) { %>
  <table>
    <thead>
      <tr>
      	 <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% var total = 0 %>
      <% movie.reviews.forEach(function(r) { %>
        <% total += r.rating %>
        <tr>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
        </tr>
        <% }); %>
        <tr>
          <td colspan="2"></td>
          <td><strong><%= (total / movie.reviews.length).toFixed(1) %></strong></td>
        </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>


<%- include('../partials/footer') %>